::-webkit-scrollbar {
  width: 8px;
  // width: 2px;
}

::-webkit-scrollbar-track {
  width: 2px;

  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  width: 2px;

  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;

  &:hover {
    background: rgba(0, 0, 0, 0.9);
  }
}
::-webkit-scrollbar-corner {
  background: none;
}

.chat {
  background: -moz-linear-gradient(-45deg, #2d3961 0%, #181f35 100%);
  background: -webkit-linear-gradient(-45deg, #2d3961 0%, #181f35 100%);
  background: linear-gradient(135deg, #2d3961 0%, #181f35 100%);
  width: 23%;
  height: 86vh;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
  padding: 0 10px 0 10px;
  display: flex;
  flex-direction: column;
  .chatTitle {
    border-bottom: 1px #7195fc solid;
    text-align: center;
  }
  .input {
    margin: 10px 0px;

    button {
      margin-left: -11%;
      cursor: pointer;
    }
    input {
      box-shadow: 0 60px 100px 0 rgba(0, 0, 0, 0.1);
      border: 0;
      outline: 0;
      padding: 4% 11% 4% 6%;
    }
  }
  .chatlist {
    flex-grow: 1;
    overflow: auto;
    scroll-behavior: smooth;

    .msg {
      min-height: 80px;
      border: none;
      background: #2a365d;
      transition: width 2s;

      .title {
        display: flex;
        justify-content: space-between;
        .time {
          padding-right: 3%;
          font-size: 14px;
        }
      }

      img {
        height: 35px;
        width: 35px;
        float: left;
        margin: 5px;
        border-radius: 50%;
        border: 2px solid #7195fc;
        box-shadow: 5px 5px 40px black;
      }
      h5 {
        margin: 0;
        font-size: 16px;
        padding: 5% 0 0 7%;
        display: flex;
      }
      .say {
        font-size: 14px;
        padding: 0 5% 5% 25%;
        color: #dbe8ff;
        word-wrap: break-word;
      }
    }
    .newmsg {
      background: #0dac69;
    }
  }
  .container {
    border-top: 1px #7195fc solid;
    // height: 400px;
  }
}
