.header
  background: -moz-linear-gradient(top, #2E395F 0%, #273051 99%)
  background: -webkit-linear-gradient(top, #2E395F 0%,#273051 99%)
  background: linear-gradient(to bottom, #2E395F 0%,#273051 99%)
  height: 50px
  width: 100%
  padding: 0
  margin: 0
  display: flex
  justify-content: space-between 
  border: 1px #FF8A00 solid
img
  float: left
  padding:  10px 
  height: 30px
  // width: 20%
.out
  margin:  5px 5px 5px 0 
  width: 150px
  height: 40px

