body
  padding: 0
  margin: 0

.App
  // background: -moz-radial-gradient(center, ellipse cover, #404F7F 0%, #253051 100%)
  background-image: linear-gradient(to bottom, #2d3961, #273256, #222c4a, #1d2540, #181f35);
  // background: -webkit-radial-gradient(center, ellipse cover, #404F7F 0%,#253051 100%)
  // background: radial-gradient(ellipse at center, #404F7F 20%,#253051 70%)
  height: 100vh
  color: #fff

button
  background: #7165F6
  border-radius: none
  border: none
  margin: 5px
  height: 30px
  color: #fff

input
  color: #fff
  background: #4A42A6
  border-radius: 2px
  height: 20px
  width: 240px
  border: none
  padding: 5px